@page
@model UsersModel
@{
    ViewData["Title"] = "- Users";
}

<h1>Singed up Users</h1>

@if (Model.PagedResult != null && Model.PagedResult.Items.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>Email</th>
            <th>Role</th>
            <th>Created at</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.PagedResult.Items)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td title="@user.CreatedAt.ToLocalTime().ToString("HH:mm:ss")">
                    @user.CreatedAt.ToLocalTime().ToString("dd.MM.yy")
                </td>
                <td>
                    <form method="post" asp-page-handler="Delete">
                        <input type="hidden" name="id" value="@user.Id"/>
                        <button type="submit" class="btn btn-danger">🗑️</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No URLs found.</p>
}